{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<title>Mars Image URL</title>

{% block content %}
<div class="container">
    <h1>Input coordinates</h1>
    <hr>

    <form action="" method="POST" role="form" class="form">
        {{ form.csrf_token() }}
        <dl>
            {{ wtf.form_field(form.lat, class="form-control", placeholder="Latitude from -90.0 to 90.0", size=25) }}
            {{ wtf.form_field(form.long, class="form-control", placeholder="Longitude from -180.0 to 180.0", size=25) }}
        </dl>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}