{% extends "bootstrap/base.html" %}
{% include "header.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Mars Image URL{% endblock %}

{% block content %}
<div class="container">
    <h1>Final URL</h1>
    <hr>
    {{ url }}
{% include "footer.jinja2" %}
</div>
{% endblock %}